In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('2006_2017_features.csv')

In [3]:
df.head()

,date,year,index,N1,N2,N3,N4,N5,N6,S1,color,zodiac,EvO,BS,month
0,2006-01-03,2006,1,25,17,38,26,23,24,47,blue,rat,odd,big,1
1,2006-01-05,2006,2,10,22,46,44,5,38,13,red,dog,odd,small,1
2,2006-01-08,2006,3,38,26,28,42,10,1,43,green,dragon,odd,big,1
3,2006-01-10,2006,4,38,39,21,25,36,5,4,blue,goat,even,small,1
4,2006-01-12,2006,5,15,37,36,24,27,25,35,red,rat,odd,big,1

* 期数和特码的关系
* 隔固定期数出特定生肖或者波色或者特码

In [5]:
df2006 = df[df['year']==2006]

In [8]:
df2006[df2006['zodiac']=='rat']

,date,year,index,N1,N2,N3,N4,N5,N6,S1,color,zodiac,EvO,BS,month
0,2006-01-03,2006,1,25,17,38,26,23,24,47,blue,rat,odd,big,1
4,2006-01-12,2006,5,15,37,36,24,27,25,35,red,rat,odd,big,1
10,2006-01-26,2006,11,18,22,27,28,43,23,35,red,rat,odd,big,1
14,2006-02-04,2006,15,41,39,40,34,45,19,23,red,rat,odd,small,2
37,2006-03-30,2006,38,2,12,33,19,17,30,23,red,rat,odd,small,3
52,2006-05-04,2006,53,48,46,3,32,2,47,35,red,rat,odd,big,5
54,2006-05-09,2006,55,26,18,43,24,25,22,23,red,rat,odd,small,5
61,2006-05-25,2006,62,29,40,38,9,39,27,47,blue,rat,odd,big,5
76,2006-06-29,2006,77,17,36,19,2,3,13,47,blue,rat,odd,big,6
101,2006-08-26,2006,102,27,31,43,29,39,36,23,red,rat,odd,small,8
106,2006-09-07,2006,107,8,15,25,33,48,5,11,green,rat,odd,small,9
109,2006-09-14,2006,110,27,26,12,28,32,46,47,blue,rat,odd,big,9
112,2006-09-21,2006,113,48,40,1,33,22,43,35,red,rat,odd,big,9
113,2006-09-23,2006,114,37,40,13,3,20,34,11,green,rat,odd,small,9
144,2006-12-07,2006,145,5,10,40,8,27,34,47,blue,rat,odd,big,12
150,2006-12-21,2006,151,5,48,35,28,46,49,11,green,rat,odd,small,12

In [11]:
df2006['zodiac'].value_counts()

horse      22
snake      19
rat        16
dragon     15
rabbit     13
ox         13
goat       12
tiger      11
rooster    10
pig         8
dog         8
monkey      7
Name: zodiac, dtype: int64

In [12]:
df2006['color'].value_counts()

red      56
blue     56
green    42
Name: color, dtype: int64

In [17]:
df2006[df2006['color']=='green']

,date,year,index,N1,N2,N3,N4,N5,N6,S1,color,zodiac,EvO,BS,month
2,2006-01-08,2006,3,38,26,28,42,10,1,43,green,dragon,odd,big,1
7,2006-01-19,2006,8,28,24,26,44,31,47,17,green,horse,odd,small,1
8,2006-01-21,2006,9,20,1,7,45,40,34,22,green,ox,even,small,1
12,2006-01-30,2006,13,21,48,35,9,33,22,43,green,dragon,odd,big,1
13,2006-02-02,2006,14,37,20,4,23,5,3,38,green,rooster,even,big,2
15,2006-02-07,2006,16,5,40,41,24,15,12,44,green,rabbit,even,big,2
18,2006-02-14,2006,19,43,7,34,32,42,22,6,green,snake,even,small,2
35,2006-03-25,2006,36,36,43,42,32,45,26,44,green,rabbit,even,big,3
38,2006-04-02,2006,39,12,29,39,8,25,45,44,green,rabbit,even,big,4
40,2006-04-07,2006,41,29,35,11,10,16,30,28,green,goat,even,big,4
42,2006-04-11,2006,43,41,5,26,21,30,36,17,green,horse,odd,small,4
48,2006-04-25,2006,49,2,32,24,29,26,33,6,green,snake,even,small,4
50,2006-04-29,2006,51,24,10,6,19,28,47,22,green,ox,even,small,4
56,2006-05-14,2006,57,1,23,14,45,7,48,43,green,dragon,odd,big,5
57,2006-05-16,2006,58,35,26,23,36,39,43,5,green,horse,odd,small,5
58,2006-05-18,2006,59,40,11,31,23,33,32,49,green,dog,odd,big,5
65,2006-06-03,2006,66,36,9,29,16,5,47,17,green,horse,odd,small,6
66,2006-06-06,2006,67,49,2,31,9,42,29,5,green,horse,odd,small,6
74,2006-06-24,2006,75,18,33,36,21,32,37,6,green,snake,even,small,6
82,2006-07-13,2006,83,34,10,1,36,8,9,17,green,horse,odd,small,7
84,2006-07-18,2006,85,27,22,39,13,10,32,43,green,dragon,odd,big,7
85,2006-07-20,2006,86,33,15,6,13,30,26,16,green,goat,even,small,7
87,2006-07-25,2006,88,34,16,10,38,41,23,5,green,horse,odd,small,7
94,2006-08-10,2006,95,12,18,15,35,23,38,33,green,tiger,odd,big,8
99,2006-08-22,2006,100,49,48,8,18,22,34,33,green,tiger,odd,big,8
105,2006-09-05,2006,106,22,8,48,4,14,41,39,green,monkey,odd,big,9
106,2006-09-07,2006,107,8,15,25,33,48,5,11,green,rat,odd,small,9
110,2006-09-17,2006,111,5,22,41,14,20,11,33,green,tiger,odd,big,9
111,2006-09-19,2006,112,22,3,25,11,27,33,21,green,tiger,odd,small,9
113,2006-09-23,2006,114,37,40,13,3,20,34,11,green,rat,odd,small,9
116,2006-09-30,2006,117,1,12,23,11,4,2,6,green,snake,even,small,9
120,2006-10-10,2006,121,6,47,8,40,22,39,17,green,horse,odd,small,10
121,2006-10-12,2006,122,22,9,10,26,38,5,39,green,monkey,odd,big,10
123,2006-10-17,2006,124,5,33,36,22,40,29,32,green,rabbit,even,big,10
125,2006-10-22,2006,126,26,42,3,24,18,43,16,green,goat,even,small,10
127,2006-10-26,2006,128,17,13,5,41,8,26,22,green,ox,even,small,10
133,2006-11-11,2006,134,13,48,10,31,18,21,17,green,horse,odd,small,11
136,2006-11-18,2006,137,14,10,40,49,34,11,43,green,dragon,odd,big,11
138,2006-11-23,2006,139,6,19,41,32,49,10,5,green,horse,odd,small,11
145,2006-12-09,2006,146,21,28,24,48,22,43,44,green,rabbit,even,big,12
150,2006-12-21,2006,151,5,48,35,28,46,49,11,green,rat,odd,small,12
152,2006-12-28,2006,153,11,3,14,27,20,44,43,green,dragon,odd,big,12

In [18]:
df2006['EvO'].value_counts()

odd     79
even    75
Name: EvO, dtype: int64

In [19]:
df2006['BS'].value_counts()

small    79
big      75
Name: BS, dtype: int64